# 42. Convert MySQL table to Pandas DataFrame(Python dictionary)


[How to Convert MySQL Table to Pandas DataFrame / Python Dictionary](https://blog.softhints.com/convert-mysql-table-pandas-dataframe-python-dictionary/)

* [PyMySQL](https://pypi.org/project/PyMySQL/) + [SQLAlchemy](https://pypi.org/project/SQLAlchemy/) - the shortest and easiest way to convert MySQL table to Python dict
* [mysql.connector](https://pypi.org/project/mysql-connector-python/)
* [pyodbc](https://pypi.org/project/pyodbc/) in order to connect to MySQL database, read table and convert it to DataFrame or Python dict.

![](https://blog.softhints.com/content/images/2020/11/MySQL_table_to_Pandas_DataFrame_to_Python_dict.png)

In [7]:
password = ''

## 1: Convert MySQL Table to DataFrame with PyMySQL + SQLAlchemy

In [2]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

db_connection_str = 'mysql+pymysql://root:' + password + '@localhost:3306/test'
db_connection = create_engine(db_connection_str)

df = pd.read_sql('SELECT * FROM girls', con=db_connection)
df.to_dict()

{'id': {0: 1, 1: 2, 2: 3, 3: 4, 4: 5},
 'name': {0: 'Emma', 1: 'Ann', 2: 'Kim', 3: 'Olivia', 4: 'Victoria'}}

In [3]:
df.to_dict('records')

[{'id': 1, 'name': 'Emma'},
 {'id': 2, 'name': 'Ann'},
 {'id': 3, 'name': 'Kim'},
 {'id': 4, 'name': 'Olivia'},
 {'id': 5, 'name': 'Victoria'}]

In [4]:
df.to_dict('list')

{'id': [1, 2, 3, 4, 5], 'name': ['Emma', 'Ann', 'Kim', 'Olivia', 'Victoria']}

In [5]:
df.to_dict('index')

{0: {'id': 1, 'name': 'Emma'},
 1: {'id': 2, 'name': 'Ann'},
 2: {'id': 3, 'name': 'Kim'},
 3: {'id': 4, 'name': 'Olivia'},
 4: {'id': 5, 'name': 'Victoria'}}

## 2: Convert MySQL Table to DataFrame with mysql.connector

In [6]:
import pandas as pd
import mysql.connector

# Setup MySQL connection
db = mysql.connector.connect(
    host="localhost",              # your host, usually localhost
    user="root",            # your username
    password=password,        # your password
    database="test"     # name of the data base
)   

# You must create a Cursor object. It will let you execute all the queries you need
cur = db.cursor()

# Use all the SQL you like
cur.execute("SELECT * FROM girls")

# Put it all to a data frame
df_sql_data = pd.DataFrame(cur.fetchall())

# Close the session
db.close()

# Show the data
df_sql_data.to_dict()

{0: {0: 1, 1: 2, 2: 3, 3: 4, 4: 5},
 1: {0: bytearray(b'Emma'),
  1: bytearray(b'Ann'),
  2: bytearray(b'Kim'),
  3: bytearray(b'Olivia'),
  4: bytearray(b'Victoria')}}